{% if site.forkme.active == true %}
{% assign position = site.forkme.position %}
{% case position %}
    {% when 'top-right' %}
<div class="github-fork-ribbon-wrapper right">
    <div class="github-fork-ribbon">
        <a href="https://github.com/muhasturk/muhasturk.github.io/fork">{{ site.forkme.title }}</a>
    </div>
</div>
    {% when 'top-left' %}
<div class="github-fork-ribbon-wrapper left">
    <div class="github-fork-ribbon">
        <a href="https://github.com/muhasturk/muhasturk.github.io/fork">{{ site.forkme.title }}</a>
    </div>
</div>
    {% when 'bottom-right' %}
<div class="github-fork-ribbon-wrapper right-bottom">
    <div class="github-fork-ribbon">
        <a href="https://github.com/muhasturk/muhasturk.github.io/fork">{{ site.forkme.title }}</a>
    </div>
</div>
    {% when 'bottom-left' %}
<div class="github-fork-ribbon-wrapper left-bottom">
    <div class="github-fork-ribbon">
        <a href="https://github.com/muhasturk/muhasturk.github.io/fork">{{ site.forkme.title }}</a>
    </div>
</div>
    {% else %}
<mark style="color: #990000">unsupported forkme position attribute in _config.yml</mark>
{% endcase %}
{% endif %}

